@model Factory.Models.Engineer

<h4>Engineer Details</h4>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.JoinDate): @Html.DisplayFor(model => model.JoinDate)</h3>
<h3>@Html.DisplayNameFor(model => model.Active): @Html.DisplayFor(model => model.Active)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer does not belong to any machines</p>
}
else
{
  <h5>Machines the Engineer belongs to:</h5>
  
  @foreach(var join in Model.JoinEntities)
  {
    @join.Machine.MachineType
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      <div class="container">
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Delete"/>
      </div>
    }
  }
  
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

@{
  Layout = "_Layout";
}
